---
import Layout from "../layouts/Layout.astro";
---

<Layout />

<main class="p-16 mx-8 max-h-4xl px-8 flex flex-col items-center">
  <p class="text-2xl max-w-xl">
    I've always had trouble finding a single webpage that lists all MotorSport
    events in one place. With so many happening across different platforms.
    That’s why I created this website, so you can easily find all MotorSport
    events in one spot.
  </p>
  <p class="pt-8 text-xl">Feel free to open PRs <3</p>
</main>
