---
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard.astro";

import f1events from "../data/formula1.json";
---

<Layout>
  <main
    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 md:mx-32 lg:grid-cols-5 p-4 gap-8 place-items-center"
  >
    {
      f1events.map((event) => (
        <EventCard
          name={event.commonName}
          circuit={event.circuit}
          fullName={event.officialName}
          dates={event.dates}
        />
      ))
    }
  </main>
</Layout>
